.choose-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* color: black; */
    /* padding: 3rem; */
    align-items: center;
}
.choose-container img{
    /* width: 50rem;
    height: 40rem; */
    /* width: 40rem; */
    max-height: 30rem;
    object-fit: cover;
}

.choose-container .desc{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    /* max-width: 50rem; */
    padding-left: 2rem;
}
.choose-container .desc .head{
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
}
.choose-container .desc .sub-head{

    border-left: 3px #2AA7FF solid;
    padding: 1rem;
    line-height: 1.4rem;
}


.choose-container .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 5rem auto;
    flex-wrap: wrap;
}

.choose-container .options .text {
    text-align: center;
}

.choose-container .options .text h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.choose-container .options .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choose-container  .options .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 9rem;
    width: 14rem;
    margin: 1.5rem;
    border-radius: 12px 12px 12px 12px;
    list-style-type: none;
    /* border: 2px solid black; */
    border-radius: 5px;
    font-weight: bolder;
    font-size: 0.7rem;
    gap: 1rem;
    -webkit-box-shadow: 4px 11px 25px -3px rgba(163,157,163,1);
    -moz-box-shadow: 4px 11px 25px -3px rgba(163,157,163,1);
    box-shadow: 4px 11px 25px -3px rgba(163,157,163,1);
    height: min-content;
    padding: 1rem;
}

.choose-container  .options .item:hover {
    color: #162D55;
    position: relative;
    top: -20px;
}

.choose-container .options .img {
    height: 6rem;
    width: 6rem;
    border-radius: 1000px;
}

.choose-container .options .heading {
    font-size: 1.2rem;
    font-weight: 700;
}

.choose-container .options .text1 {
    font-size: 1rem;
    opacity: 0.7;
}
