.detailview-container{
    display: flex;
    flex-direction: column;
    /* background-color: #2AA7FF; */
    padding: 5rem;
    padding-top: 1rem;
}

.detailview-container .profile-text{
    font-size : 2rem;
    font-weight: 800;
    color : #111111;
    text-align: center;
    margin-bottom: 2rem;
}

.detailview-container .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* width: 100% */
    margin: auto;
    /* border: 2px solid; */
    /* box-shadow: ; */
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* padding: 2rem; */
}

.detailview-container .main-container .left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    padding: 2rem;
    /* width: 10%; */
}

.detailview-container .main-container .left-container img{
    height: auto;
    width: 40rem;
    /* max-width: 100%; */
    object-fit: cover;
}

.detailview-container .main-container .left-container .doc-name{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color : #162D55;
}

.detailview-container .main-container .left-container .book-appointment button{
    margin-top:1rem;
    background-color: #2AA7FF;
    color: white;
    width: 10rem;
    height: 3rem;
    min-width: fit-content;
    border-radius: 5px;
    font-size: 1rem;
}

.detailview-container .main-container .left-container .book-appointment button:hover{
    /* margin-top:1rem;
    background-color: #2AA7FF;
    color: white;
    width: 10rem;
    height: 3rem;
    min-width: fit-content;
    border-radius: 5px;
    font-size: 1rem; */
    background-color: white;
    color: #2AA7FF;
    border: 2px solid #2AA7FF;
}

.detailview-container .main-container .right-container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
    font-weight: 500;
    background : #162D55;
    color : white;
    flex: 1;
    border-radius: 10px;
}

.detailview-container .main-container .right-container .head-text{
    font-size: 1.5rem;
    /* font-weight: 800; */
    color : white;
}

.detailview-container .main-container .right-container .doctor-name{
    font-weight: 600;
    font-size: 1.8rem;
    color : white;

}
.detailview-container .main-container .right-container  .head-text, .exp-text, .speciality-text, .contact-text , .address-text{
    font-size: 1.7rem;
    color : #2AA7FF;
}